@font-face {
  font-family: "TT Lakes";
  src: url(../font/TTLakes/TTLakes-Regular.ttf) format(TrueType);
  font-weight: 400;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../font/TTLakes/TTLakes-Medium.ttf) format(TrueType);
  font-weight: 500;
}
@font-face {
  font-family: "TT Lakes";
  src: url(../font/TTLakes/TTLakes-Bold.ttf) format(TrueType);
  font-weight: bold;
}
html {
  background-color: #fff;
  box-sizing: border-box;
  font-weight: 400;
}

*,
*:before,
*:after {
  color: inherit;
  font-weight: inherit;
  font-family: "TT Lakes";
  box-sizing: inherit;
  margin: 0px;
  text-decoration: none;
}

body {
  color: #1B1C21;
  background-color: #F8F8F8;
  max-width: 1120px;
  margin: 0 auto;
}

.mobile-menu {
  width: 320px;
  min-height: 100vh;
  position: absolute;
  left: 0;
  padding: 18px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}
.mobile-menu__header {
  margin-bottom: 45px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-block {
  display: flex;
  gap: 16px;
}

.mobile-navigation {
  padding: 0;
  list-style: none;
}
.mobile-navigation__item {
  display: flex;
  align-items: center;
  color: #1B1C21;
  font-family: "TT Lakes";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 32px;
}

.mobile-navigation__item:hover {
  color: #7E7E82;
}
.mobile-navigation__item:hover:before {
  content: " ";
  position: absolute;
  left: 0;
  height: 32px;
  width: 4px;
  background-color: #41F6D7;
  border-radius: 0 2px 2px 0;
}

.mobile-menu__footer {
  margin-top: auto;
}

.contact-block {
  display: flex;
  gap: 16px;
}

.mobile-contact-block {
  margin-bottom: 16px;
}

.text-contact {
  margin-bottom: 40px;
}
.text-contact__mail {
  font-weight: 500;
}
.text-contact__phone {
  font-weight: 700;
  font-size: 24px;
}

.lang-selector {
  display: flex;
  flex-direction: row;
  gap: 7px;
  list-style: none;
  padding: 0;
}
.lang-selector__elem {
  font-weight: 500;
}

.lang-selector > .selected {
  color: #7E7E82;
}

.button {
  padding: 0;
  border: none;
  background: none;
  display: flex;
  gap: 8px;
  align-items: center;
}
.button__icon {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__icon_content {
  align-self: center;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.button__icon_content_close {
  background-image: url("../icon/close.svg");
}
.button__icon_content_search {
  background-image: url("../icon/search.svg");
}
.button__icon_content_phone {
  background-image: url("../icon/phone.svg");
}
.button__icon_content_chat {
  background-image: url("../icon/chat.svg");
}
.button__icon_content_profile {
  background-image: url("../icon/profile.svg");
}

.button:hover > .button__icon {
  filter: grayscale(60%);
  transition: 0.2s;
}